.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 200px);
}

.headerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  margin-bottom: 50px;
}

.inputsCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  gap: 20px;
  margin: 10px 0px 30px;
}

.footerLink {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 20px;
    justify-content: center;
    padding: 0px 5%;
    margin-bottom: 30px;
  }
  .footerLink {
    gap: 5px;
  }
}
