.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0px 100px;
  margin-top: -30px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.headerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  text-align: center;
  gap: 10px;
  margin-bottom: 50px;
}

.inputsCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  gap: 40px;
  margin-bottom: 20px;
}

.forgotPassword {
  margin-top: -30px;
}

.separatorContainer {
  display: flex;
  flex-direction: row;
  max-width: 360px;
  width: 100%;
  gap: 20px;
  align-items: center;
  margin: 30px 0px;
}

.footerLink {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.socialButtons {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.authButton:disabled {
  color: #ffffff !important;
}

@media screen and (max-width: 1200px) {
  .rightContainer {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 20px;
    justify-content: center;
    padding: 0px 5%;
    margin-bottom: 30px;
  }
  .rightContainer {
    width: 100%;
  }
  .separatorContainer {
    margin: 30px 0px;
  }
  .footerLink {
    gap: 5px;
  }
  .socialButtons {
    flex-direction: row;
  }
}
