.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--primary);
  overflow-y: auto;
  position: relative;
  z-index: 0;
  padding-bottom: 80px;
}

.isotype {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  padding: 0px 85px;

  z-index: 2;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 150px);
  padding: 0;
  z-index: 1;
}

.logoText {
  margin-top: 18px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 100px;
    padding: 0px 5%;
  }
  .content {
    min-height: calc(100vh - 100px);
  }
}
.wrapper::-webkit-scrollbar-thumb {
  display: none;
}
.wrapper::-webkit-scrollbar-track {
  display: none;
}
.wrapper::-webkit-scrollbar {
  display: none;
}
