.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: var(--primary);
  z-index: 11;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logoContainer > span > img {
  cursor: pointer;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}

.plusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
}

.mobileNavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.mobileNavButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.languageButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
}

.languageContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  width: 70px;
  padding: 15px;
  background: var(--white);
  top: 30px;
  left: -10px;
  z-index: 10;
  border-radius: 4px;
}

.languageItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.languageLi {
  width: 15px;
  height: 10px;
  border-radius: 4px;
  background: var(--lightGrey);
}

.headerButton {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (max-width: 1450px) {
  .header {
    height: 120px;
    padding: 50px 50px;
  }
  .buttons {
    gap: 5px;
  }
}

@media screen and (max-width: 980px) {
  .logoContainer {
    flex-direction: column;
    gap: 0;
    min-width: 150px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    height: 180px;
    min-height: 180px;
    padding: 20px 5%;
  }
  .logoText {
    display: none;
  }
  .buttons {
    gap: 5px;
  }
}
