.whiteCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 550px;
  min-height: 500px;
  background: #ffffff;
  border-radius: 16px;
  padding: 50px;
  border: 1px solid #f5d44530;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
  .whiteCard {
    padding: 50px 30px;
  }
  .whiteCardRegister {
    padding: 65px 5%;
    border-end-end-radius: 0px;
    border-end-start-radius: 0px;
    min-height: 75vh;
  }
}
