@font-face {
  font-family: AlbertSans-Medium;
  src: local("AlbertSans-Medium");
  src: url("/assets/fonts/AlbertSans-Medium.ttf");
}

@font-face {
  font-family: AlbertSans-Regular;
  src: local("AlbertSans-Regular");
  src: url("/assets/fonts/AlbertSans-Regular.ttf");
}

@font-face {
  font-family: AlbertSans-Bold;
  src: local("AlbertSans-Bold");
  src: url("/assets/fonts/AlbertSans-Bold.ttf");
}

@font-face {
  font-family: AlbertSans-Light;
  src: local("AlbertSans-Light");
  src: url("/assets/fonts/AlbertSans-Light.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #facf16;
  --secondary: #242424;
  --blue: #5c99f8;
  --red: #f27a5d;
  --purple: #7f63f5;
  --green: #88d373;
  --orange: #f5c263;
  --primaryDisabled: #facf1650;
  --secondaryDisabled: #00000030;
  --focus: #facf165a;
  --success: #5ecb7f;
  --warning: #d8cb6c;
  --warningRed: #ff5234;
  --white: #ffffff;
  --black: #000000;
  --lightGrey: #a6a6a6;
  --darkGrey: #1a1a1a;
  --background: #f8f8f8;
  --text: #1a1a1a;
  --textLight: #1a1a1a30;
  --textTitle: #242424;
  --borderLight: #29292930;
  --scroll: #e8e8e8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: AlbertSans-Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  margin: 0;
  padding: 0;
}
input:-internal-autofill-selected {
  background: red !important;
  color: red;
  background-color: red !important;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
button {
  background: none;
  border: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: black !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 30px !important;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 30px !important;
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
