.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.button:hover {
  cursor: pointer;
}

.disabled:hover {
  cursor: not-allowed;
}

.label:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
