.container {
  position: relative;
}

.input {
  border: 1px solid #2424244d;
  border-radius: 8px;
  height: 50px;
  width: 100%;
  padding: 2px 20px;
  font-size: 16px;
}

.input:disabled {
  cursor: not-allowed;
}

.input::placeholder {
  color: rgba(44, 44, 44, 0.27);
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: #24242414;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.label {
  position: absolute;
  top: -28px;
  left: 3px;
  color: #b0b9c5 !important;
  font-family: AlbertSans-Bold !important;
  font-size: 14px !important;
}

.helpText {
  position: absolute;
  top: -28px;
  left: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.labelHelpText {
  color: #b0b9c5 !important;
  font-family: AlbertSans-Bold !important;
  font-size: 14px !important;
}

.helpTextContent {
  position: relative;
  max-width: 18px;
  max-height: 18px;
  cursor: pointer;
}

.helpTextContent:hover .tooltip {
  display: block;
}

.tooltip:before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #e4e8ed;
  content: "";
  left: 0;
  top: 35px;
  transform: rotate(90deg);
  margin-left: -9px;
  position: absolute;
  height: 0;
  width: 0;
}

.tooltip {
  background-color: #e4e8ed;
  color: #ffffff;
  display: none;
  padding: 20px;
  position: absolute;
  top: -29px;
  left: 26px;
  border-radius: 8px;
  width: 250px;
  height: max-content;
  z-index: 10;
}
