.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 19px 23px;
  width: fit-content;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(36, 36, 36, 0.3);
  box-sizing: border-box;
  height: 50px;
}

.button:hover {
  background: #3577f3;
}

.button:hover p {
  color: #ffffff !important;
}

/* .button:hover svg > path {
  fill: #ffffff !important;
} */

.buttonActive {
  background: #3577f3 !important;
}

.buttonLoading {
  max-height: 50px;
}

.disabled {
  background: #facf161c;
  cursor: not-allowed;
  border: 1px solid #facf161c;
}

.disabled:hover {
  background: #facf161c;
  cursor: not-allowed;
  border: 1px solid #facf161c;
}

.labelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
