.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 19px 23px;
  width: fit-content;
  background: var(--primary);
  border-radius: 30px;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  height: 60px;
}

.button:hover {
  background: #ffffff;
  border: 1px solid var(--primary);
}

.buttonActive {
  border: 1px solid var(--primary) !important;
}

.buttonLoading {
  max-height: 60px;
}

.disabled {
  background: #facf161c;
  cursor: not-allowed;
  border: 1px solid #facf161c;
}

.disabled:hover {
  background: #facf161c;
  cursor: not-allowed;
  border: 1px solid #facf161c;
}

.labelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
